.body-Ergebnis {
    background-image: url("../../img/backgroundstartseite.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 981px;
}
h1{
    color: rgb(250, 250, 242);
    font-weight: bold;
    font-size: 50px;
}
p{
    color: rgb(243, 243, 234);
    font-weight: bold;
    font-size: 50px;
}
.buttonstyle{
    color: #fff;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    background-color:rgba(126, 92, 94, 0.9);
 

 }