#punkteStr {
    color: white;
    margin-top: -150px;
    font-family: 'Rowdies', cursive;
    font-size: 25px;
    padding-left:40px;



}

#punkteDiv {
    position: relative;
    background-color:rgba(182, 89, 122, 0.9);
    height:110px;
    width:110px;
    border-radius:55%;
    bottom:20px;   
    left:28px; 
    font-family: 'Rowdies', cursive;
    font-size: 30px;


}

#punkteZahl {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 30px;

}