.body-testSeite {
    background-image: url("../../img/backgroundstartseite.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
}

.container-testSeite {
    height:700px;
    width: 1000px;
    background-color: rgba(43, 21, 21, 0.46);
    padding: 0 80px;
    
}

.infoButton {
   color: #fff;
   border-radius: 50px;
   padding: 20px;
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   background-color:rgba(182, 89, 122, 0.9);
   border:none;



}

.nextAndLastButton {
   color: #fff;
   padding: 15px;
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   background-color:rgba(182, 89, 122, 0.9);
   border:none;

}

.containerButtonUnten {
   display: flex;
   justify-content: space-between;
   padding-top:110px;

}