.body-testSeite {
    background-image: url("../../img/backgroundstartseite.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 981px;
}
.container-testSeite{
   
   
}

#divUhr {
font-family: 'Rowdies', cursive;
position: absolute;
right: 3rem;
top: 1.5rem;

}

.uhrHeading{
   color:white;
   font-size: 30px;
   padding-left: 5px;
   
}

.uhrZahlen {
   height:120px;
   width:120px;
   border-radius: 50%;
   font-size:30px;
   padding-left: 38px;
   padding-top: 15px;
   background-color:rgba(180, 59, 101, 0.9);

}

#uhrStr {
   font-size:20px;
}

.uhr{
   background-color:rgba(180, 59, 101, 0.9);
   font-family: 'Rowdies', cursive;
   color:white;
   padding: 17px;
   width:200px;
   border-radius: 100%;
   font-size: 20px;
   text-align: center;
}

#liste{
   list-style: none;
}
#zeitDiv{
   color: rgb(243, 235, 235);
   text-align: center;
   margin: 10px;
   padding: 5px;
   font-size: 20px;
   position: absolute;
   right: 40px;
   top: 4px;
   font-family: 'Rowdies', cursive;

   
}



#stats{
   color: rgb(15, 15, 15);
   font-weight: bold;
   font-size: larger;
   margin-left: 10px;
   
}
#results{
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   color: azure;
}
#bundesländerselect{
   color: rgba(245, 247, 246, 0.856);
   font-weight: bold;
   font-size: larger;

}
#punkte{
   background-color:rgba(180, 59, 101, 0.9);
   font-family: 'Rowdies', cursive;
   color:white;
   padding: 17px;
   width:200px;
   
   font-size: 20px;
}

#teststarten{
   background-color:rgba(180, 59, 101, 0.9);
   font-family: 'Rowdies', cursive;
   color:white;
   padding: 17px;
   width:200px;
   border: none;
   font-size: 20px;
   margin-bottom: 300px;
 
}

.infoButton {
   color: #fff;
   border-radius: 50px;
   padding: 20px;
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   background-color:rgba(182, 89, 122, 0.9);
   border:none;



}

.nextAndLastButton {
   color: #fff;
   padding: 15px;
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   background-color:rgba(180, 59, 101, 0.9);
   border:none;

}

.containerButtonUnten {
   display: flex;
   justify-content: space-between;
   padding-top:110px;

}

.bundesländer {
   position: absolute;
   left: 40rem;
   top: 25rem;
   font-family: 'Rowdies', cursive;
   font-size:20px;
   font-weight: 300;

}

#stats > option {
   background-color:rgba(180, 59, 101, 0.9);
   color:white;

}

.buttonstyle{
   color: #fff;
   padding: 15px;
   font-size: 20px;
   font-family: 'Rowdies', cursive;
   background-color:rgba(185, 55, 61, 0.9);
border: 3px black solid;
}

.Anzahlfrage{
   font-size: 40px;
   font-weight: bold;
   color: rgb(238, 238, 223);
}
.FragenAngabenText{
   font-size: 30px;
   font-weight: bold;
   font-family: 'Rowdies', cursive;
}
.FragenAngaben{
   font-size:30px;
   font-weight: bold;
   
}

.Anzahlfrage {
   font-family: 'Rowdies', cursive;

}