.question_container {
    color: bisque;
    font-weight: bold;
    font-size: large;
}

.info_page {
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
